<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
        {% if page.title %}
        {{ page.title }} &ndash;
        {% endif %}
        {{ site.name }}
    </title>
    <meta name="author" content="{{ site.name }}"/>
    <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
    <meta name="description" content="{{ site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet"
          href="http://fast.fonts.com/cssapi/d70ca5cd-778e-48cc-9e59-6b276425c670.css"/>

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection"/>
    <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fonts/ss-social.css" type="text/css"/>
    <link rel="stylesheet" href="/css/highlight/styles/googlecode.css">
    <script src="/css/highlight/highlight.pack.js"></script>
    <script>
        hljs.tabReplace = '    ';
        hljs.initHighlightingOnLoad();
    </script>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
</head>

<body>
<div class="header">
    <div class="container">
        <section class="name">
            <a href="/">Shaharia<b>Azam</b></a>
        </section>

        <ul class="menu">
            <li><a href="/about">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Résumé</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

        <ul class="social">
            <li><a href="https://github.com/{{ site.github }}" class="ss-icon ss-social-circle">github</a></li>
            <li><a href="https://twitter.com/{{ site.twitter }}" class="ss-icon ss-social-circle">twitter</a></li>
            <li><a href="https://facebook.com/{{ site.facebook }}" class="ss-icon ss-facebook-circle">facebook</a></li>
        </ul>
    </div>
</div>


<div class="hero" style="background-image: url(/images/banner_horizontal.jpg);"></div>


<section class="container content">
    {{ content }}
</section>
<!--Google analytics Tracking Code-->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15314041-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<!--End of Google Analytics-->
</body>

</html>